/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

input {
    font-size: 14px;
}

body {
    line-height: 1.4;
    color: #001f3f;
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 20px;
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 800;
    color: #001f3f;
}

input {
    border: none;
    outline:none;
    background: none;
    color: #001f3f;
    padding: 16px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: inset 2px 2px 2px #4974aa,
                inset -2px -2px 2px #8fe0ff;
}

input::placeholder {
    color: #000000
}

button {
    cursor: pointer;
    background-color:#00feca;
    border: none;
    border-radius: 6px;
    box-shadow: 9px 9px 16px #4974aa, -9px -9px 16px #8fe0ff;
    color: #4D3252;
    font-weight: 700;
    padding: 16px;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    opacity: 0;
    transform: translateX(-100%);
    
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
      to right, 
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0.3) 100%
    );
  }
  
  button:hover:after {
    opacity: 1;
    top: 0;
    left: 0;
    transform: translateX(0);
    transition-property: transform, opacity;
    transition-duration: 0.7s, 0.15s;
    transition-timing-function: ease;
  }
  
  button:active:after {
    opacity: 0;
  }

/* Join Page Styles */

.centered-form {
    background: #6caafa;
    width: 100vw;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.centered-form__box {
    border-radius: 8px;
    background: #6caafa;
    box-shadow:  15px 15px 30px #4974aa, 
                 -15px -15px 30px #8fe0ff;
    padding: 24px;
    max-width: 330px;
}

.centered-form button {
    width: 100%;
}

.centered-form input {
    width: 100%;
}

.welcome-note {
    color: #001f3f;
    font-size: 20px;
    padding: 32px 0;
}

/* Chat Page Layout */

.chat {
    display: flex;
}

.chat__sidebar {
    height: 100vh;
    color: white;
    background: #333744;
    width: 225px;
    overflow-y: scroll
}

/* Chat styles */

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.chat__messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
}

/* Message Styles */

.message {
    margin-bottom: 16px;   
}

.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.message__meta {
    color: #777;
    font-size: 14px;
}

.message a {
    color: #0070CC;
}

/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 24px;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.compose input {
    border: 1px solid #eeeeee;
    width: 100%;
    padding: 12px;
    margin: 0 16px 0 0;
    flex-grow: 1;
}

.compose button {
    font-size: 14px;
}

/* Chat Sidebar Styles */

.room-title {
    font-weight: 400;
    font-size: 22px;
    background: #2c2f3a;
    padding: 24px;   
}

.list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
}